<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME </title>
</head>
<body>
    <h1>This is Home Page</h1>

    <form action="/api/route/profile2" method="post" enctype="multipart/form-data">
        <input type="text"name="name"placeholder="Enter your Name"/>
        <input type="text"name="email"placeholder="Enter your email"/>
        <input type="text"name="password"placeholder="Enter your password"/>
        <input type="file" name="image" />
        <button>Submit</button>
      </form>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos totam, tempora expedita repellendus, inventore recusandae numquam quos harum voluptate nesciunt distinctio ipsa eligendi eaque hic ab voluptates. Inventore, maiores repellat.</p>
</body>
</html>